<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block styles %}{% endblock styles %}
</head>
<body>
    <div class="hero">
        {% if request.user.is_authenticated %}
            {% if request.user.is_admin%}
                {% include 'navbar_admin.html' %}
            {% else %}
                {% include 'navbar_user.html' %}
            {% endif %}
        {% else %}
            {% include 'navbar_home.html' %}
        {% endif %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}{% endblock content %}
    </div>
    {% block scripts %}{% endblock scripts %}
</body>
</html>