{% load static %}
<nav>
    <a href="{% url 'adminPage' %}"><img src="{% static 'images/logo.png' %}" alt="Logo" class="logo"/></a>
    <ul>
        <li><a href="{% url 'adminPage' %}">Home</a></li>
        <li><a href="{% url 'addJobAdmin' %}">Add Job</a></li>
        <li><a href="{% url 'viewCreatedJobs' %}"> View Created Jobs</a></li>
        <li><a href="{% url 'selectAndEditJobs'%}">Select And Edit Jobs</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
     </ul>
     
</nav>