<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../css/adminDashboard.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    
    <div class="hero">
        <nav>
            <img src="../images/logo.png" alt="Logo" class="logo" onclick="window.location.href='adminDashboard.html'">
            <ul>
                <li><a href="adminDashboard.html">Home</a></li>
                <li><a href="addJobOpportunity.html">Add Job</a></li>
                <li><a href="viewCreatedJobs.html"> View Created Jobs</a></li>
                <li><a href="selectAndEditJobs.html">Select And Edit Jobs</a></li>
             </ul>
             
        </nav>


        <div class="hero-content">
            <div class="content col anim">
                <h1>Find Your Dream <span>Job</span></h1>
                <p>Search for jobs, internships, and more.</p>
                <h2>Hello <span>Admin!</span></h2>
                <!-- <a href="searchForJob.html" class="btn anim getStarted">Start Searching</a> -->
            </div>
            <img id="offer-img" class="offer-image anim" src="../images/offer-2.jpg">
        </div>


        <!-- <div class="footer">
            <p>2025 Job Search Website</p>
        </div> -->


    </div>


</body>
</html>