{% extends "main.html" %}
{% load static %}
{% block title %}Edit Job{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/global.css' %}">
<link rel="stylesheet" href="{% static 'css/addJobOpportunity.css' %}">
{% endblock styles %}

{% block content %}


    <div class="job-opport">
        <h1>Edit Job</h1>

        <form method="POST" class="add-details">
            {% csrf_token %}

            <div class="input-box">
                <label><strong>Job Title</strong></label>
                <input type="text" name="job-title" value="{{ job.title }}" placeholder="Write the Job title here" required>
            </div>

            <div class="input-box">
                <label><strong>Job Salary</strong></label>
                <div class="range-inputs">
                    <div class="range-group">
                        <label>Minimum Salary</label>
                        <input type="text" name="min_salary" value="{{ job.min_salary }}" placeholder="min salary" required>
                    </div>
                    <div class="range-group">
                        <label>Maximum Salary</label>
                        <input type="text" name="max_salary" value="{{ job.max_salary }}" placeholder="max salary" required>
                    </div>
                </div>
            </div>

            <div class="input-box">
                <label><strong>Years of Experience</strong></label>
                <div class="range-inputs">
                    <div class="range-group">
                        <label>Minimum Years</label>
                        <input type="text" name="min_experience" value="{{ job.min_experience }}" placeholder="min experience" required>
                    </div>
                    <div class="range-group">
                        <label>Maximum Years</label>
                        <input type="text" name="max_experience" value="{{ job.max_experience }}" placeholder="max experience" required>
                    </div>
                </div>
            </div>

            <label><strong>Job Status</strong></label>
            <div class="stat">
                <label>Open</label>
                <input type="radio" name="status" value="Open" {% if job.status == "Open" %}checked{% endif %}>
                <label>Closed</label>
                <input type="radio" name="status" value="Closed" {% if job.status == "Closed" %}checked{% endif %}>
            </div>

            <div class="input-box">
                <label><strong>Job Requirements</strong></label>
                <textarea class="dis" name="Requirements" placeholder="Write the requirements here" cols="30" rows="5" required>{{ job.requirements }}</textarea>
            </div>

            <div class="input-box">
                <label><strong>Job Description</strong></label>
                <textarea class="dis" name="Description" placeholder="Write the description here" cols="30" rows="5" required>{{ job.description }}</textarea>
            </div>

            <div class="input-box">
                <label><strong>Job Location</strong></label>
                <textarea class="dis" name="Location" placeholder="Write the location here" cols="30" rows="5" required>{{ job.location }}</textarea>
            </div>

            <button class="btn" type="submit">Save Changes</button>
        </form>
    </div>


<script src="{% static 'js/editAdminJob.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
