{% extends "main.html" %}

{% load static %}

{% block title %}Job Search-Login{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/global.css'%}">
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock styles %}
{% block content %}
        <form class="login-form">
            <div class="content anim">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" placeholder="Username/email" required id="username">
                    <i class="bx bxs-user"></i>
                </div> 
                <div class="input-box">
                    <input type="password" placeholder="Password" required id="password">
                    <i class="bx bxs-lock-alt"></i>
                </div>
                <!-- <div class="remember-me">
                    <label><input type="checkbox">Remember me</label>
                    <a href="#">Forgot password?</a>
                </div> -->
                <button type="submit" class="btn" id="login-btn">Login</button>
                <div class="register">
                    <p>Don't have an account? <a href="signup.html">Register now</a></p>
                </div>
            </div>
        </form>
        <!-- <div class="footer">
            <p>2025 Job Search Website</p>
        </div> -->
{% endblock content %}
{% block scripts %}
    <script type="module" src="{% static 'js/main.js'%}"></script>
    <script type="module" src="{% static 'js/login.js'&}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock scripts %}
