<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Jobs</title>
    <link rel="stylesheet" href="../css/selectAndEditJobs.css">
    <link rel="stylesheet" href="../css/global.css">

</head>
<body>
    
    <div class="hero">

        <nav>
            <img src="../images/logo.png" alt="Logo" class="logo" onclick="window.location.href='adminDashboard.html'">
            <ul>
                <li><a href="adminDashboard.html">Home</a></li>
                <li><a href="addJobOpportunity.html">Add Job</a></li>
                <li><a href="viewCreatedJobs.html"> View Created Jobs</a></li>
                <li><a href="selectAndEditJobs.html">Select And Edit Jobs</a></li>
             </ul>
             
        </nav>

        
        <div class="jobs-container">
            <h2>View All Jobs</h2>
            
            
        </div>
        
    </div>
    <script type="module" src="../js/selectAndEditJobs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            
</body>
</html>