{% extends "main.html" %}
{% load static %}
    {% block title %}Job Search-Sign up{% endblock title %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/global.css'%}">
    <link rel="stylesheet" href="{% static 'css/signupAdmin.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% endblock styles %}
    {% block content %}
        <form class="signup-form">
            <div class="content anim">
                {% csrf_token %}
                <h1>Sign up</h1>
            <div class="input-box">
                <i class="bx bxs-user"></i>
                {{ form.username.errors }}
                {{ form.username }}
            </div>
            <div class="input-box">
                <i class='bx bxs-envelope'></i>
                {{ form.email.errors }}
                {{ form.email }}
            </div>
            <div class="input-box">
                <i class="bx bxs-lock-alt"></i>
                {{ form.password1.errors }}
                {{ form.password1 }}
            </div>
            <div class="input-box">
                <i class="bx bxs-lock-alt"></i>
                {{ form.password2.errors }}
                {{ form.password2 }}
            </div>
            <div class="input-box">
                <i class="bx bxs-user"></i>
                {{ form.company_name.errors }}
                {{ form.company_name }}
            </div>
            <button type="submit" class = "btn" id="signup-btn">Sign up</button>
            <p>Already have an account?</p>
            <a href="{% url 'login' %}" id="login_btn">Log in</a>
            </div>
        </form>
        <!-- <div class="footer">
            <p>2025 Job Search Website</p>
        </div> -->
    {% endblock content %}
    {% block scripts %}
    <script type="module" src="../js/main.js"></script>
    <script type="module" src="../js/signupAdmin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% endblock scripts %}
