<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="../css/userDashboard.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    
    <div class="hero">
        <nav>
            <img src="../images/logo.png" alt="Logo" class="logo" onclick="window.location.href='userDashboard.html'">
            <ul>
                <li><a href="userDashboard.html">Home</a></li>
                <li><a href="searchForJob.html">Search for a job</a></li>
                <li><a href="viewAllJobs.html">View list of available jobs</a></li>
                <li><a href="viewAppliedJobs.html">View list of applied jobs</a></li>
             </ul>
             
        </nav>
        <div class="hero-content">
            <div class="content col anim"><h1>Find Your Dream <span>Job</span></h1>
                <p>Search for jobs, internships, and more.</p>
                <a href="searchForJob.html" class="btn anim getStarted">Start Searching</a>
            </div>
            <img id="offer-img" class="offer-image anim" src="../images/offer-2.jpg">
        </div>
        <!-- <div class="footer">
            <p>2025 Job Search Website</p>
        </div> -->
    </div>
</body>
</html>