{% extends "main.html" %}
{% load static %}

{% block title %}View All Jobs{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/viewAllJobs.css' %}">
{% endblock %}

{% block content %}
<div class="hero">
    <div id="jobs-container">
        <h2>View All Jobs</h2>
        {% for job in jobs %}
            <div class="job-card">
                <h3>{{ job.title }}</h3>
                <p>{{ job.description }}</p>
                <p><strong>Location:</strong> {{ job.location }}</p>
                <p><strong>Posted on:</strong> {{ job.datePosted }}</p>
                <p><strong>Posted by:</strong> {{job.employer.company_name}}</p>
            </div>
        {% empty %}
            <p>No jobs available at the moment.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- <script type="module" src="{% static 'js/viewAllJobs.js' %}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
