{% extends 'main.html' %}
{% load static %}
{% block title %}View Applied Jobs{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/viewAppliedJobs.css' %}">
{% endblock styles %}

{% block content %}

<div class="hero">
    <div id="jobs-container">
        <h2>View Applied Jobs</h2>

        {% if applied_jobs %}
            {% for application in applied_jobs %}
                <div class="job-card">
                    <h3>{{ application.job.title }}</h3>
                    <p><strong>Description:</strong> {{ application.job.description }}</p>
                    <p><strong>Location:</strong> {{ application.job.location }}</p>
                    <p><strong>Requirements:</strong> {{ application.job.requirements }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>You haven't applied to any jobs yet.</p>
        {% endif %}
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="module" src="{% static 'js/viewAppliedJobs.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock scripts %}
